* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;

}

@font-face {

    font-family: 'Montserrat-Bold';
    src: url(txt/Montserrat-Bold.ttf);

}

@font-face {
    font-family: 'Kollektif';
    src: url(txt/Kollektif-Bold.ttf);
}

@font-face {
    font-family: 'Kollektif_df';
    src: url(txt/Kollektif.ttf);
}

@font-face {
    font-family: 'Inter_L';
    src: url(txt/Inter-Light.otf);
}

header {
    background-color: #2D2D2D;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    text-align: center;
    height: 82px;
    font-family: Calibri;
}

.fullstr {
    max-width: 1780px;
    margin-left: 70px;

}

.double {
    display: flex;


    margin: 0 auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.phone {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Inter, sans-serif;
    font-size: 32px;
    margin: 22px 30px 22px 0;
    color: white;

}

.kont {
    display: flex;
    gap: 12px;
}

.tg {
    margin-right: 12px;
}

.wts, .tg {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.menu {
    margin-right: 228px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;


}

.logo {
    margin: 0 315px 0 0;
    position: relative;
}

.logo img {
    width: 251px;
    height: 70px;
    margin: 6px 0 6px 70px;

}

.menu a {

    text-decoration: none;
    font-size: 24px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Inter_L, sans-serif;
    justify-content: center;
    font-weight: lighter;

}

.menu a:hover {
    color: gray;
}

.container1 {
    display: flex;
    flex-direction: column;
    margin: 114px 0 113px 0;

    gap: 40px;
}

.main_txt {
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    font-size: 80px;
    line-height: 1;


}

.lead {
    color: #ff6a00;

}

.bis {
    color: #2D2D2D;

}

.vtor_txt {
    display: flex;


    font-family: Calibri;
}

.smile {
    margin: 0 0 0 20px;
    width: 72px;
    height: 72px;
}

.pokup {
    font-size: 32px;
    font-family: Inter, sans-serif;
    letter-spacing: 1px;
    line-height: 1.25;

}

.main_btn {
    display: inline-block;
    background-color: #62686e;
    text-align: center;
    border-radius: 20px;
    font-size: 24px;
    cursor: pointer;
    width: 801px;


}

.menu a:hover {
    color: #a0a0a0;

}

.menu a:active {
    color: #CD3400;


}

.menu a.disabled {
    color: #666666;
    cursor: not-allowed;
    opacity: 0.7;
    pointer-events: none;
}

.menu a:focus-visible {
    outline: 2px solid #ff6a00;
    outline-offset: 3px;
    border-radius: 4px;
}


.menu a.active {
    color: #ff6a00;
    font-weight: 500;
}

.main_btn:hover a {
    background: linear-gradient(180deg, #FF8C00 0%, #FF7700 100%);
    border-radius: 20px;

}

.main_btn:active a {
    background: #CD3400;

}

.main_btn.clicked a {
    background: linear-gradient(180deg, #808080 0%, #666666 100%);
    color: #ffffff;
    cursor: default;
}

.main_btn.disabled a {
    background: linear-gradient(180deg, #CCCCCC 0%, #AAAAAA 100%);
    color: #888888;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
    pointer-events: none;
}

.main_btn a:focus {
    outline: 2px solid rgba(255, 106, 0, 0.5);
    outline-offset: 3px;
}

.main_btn a:focus:not(:focus-visible) {
    outline: none;
}

.sell {
    color: #2D2D2D;
}

.main_btn a {
    display: flex;
    padding: 21px 59px;
    text-decoration: none;
    color: #ffffff;
    justify-content: center;
    font-weight: 600;
    font-family: Kollektif_df, sans-serif;


}

.photo_main {
    display: flex;
    position: relative;


}

.girl {
    margin: 60px 130px 60px 99px;
    display: flex;
    width: 100%;
    height: 100%;


}

.girl img {
    border-radius: 25px;
    height: 497px;
    object-fit: cover;

}


.star1 img {

    width: 20px;
    height: 20px;
}


.bottom_list {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.bottom_list a {

    text-decoration: none;
    background-color: #ffffff;
    color: #808080;
    width: 280px;
    height: 88px;
    padding: 32px 14px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    font-size: 20px;
    display: flex;
    font-family: Inter, sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 0;
}

.text_bottom {
    font-family: Montserrat-Bold, sans-serif;
    font-weight: bold;
    align-self: center;
    line-height: 1;
    text-align: center;
    margin: 129px 0 40px 0;
    font-size: 48px;
}

.bottom_list a:hover {
    color: #ff6a00; /* оранжевый */
    background-color: #fff5e6;
    border-color: #ffd9b3;
}


.bottom_list a:active {
    color: #ff4444; /* красный */
    background-color: #ffffff;
    border-color: #ffb3b3;
}

.bottom_list a.disabled {
    background-color: #e0e0e0;
    color: #999999;
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
    border-color: #cccccc;
}

.bottom_list a.disabled:hover {
    transform: none;
    box-shadow: none;
}

.bottom_list a.active {
    color: #ff6a00;
    background-color: #fff5e6;
    border-color: #ff6a00;
    font-weight: 500;
}

.bottom_list a:focus-visible {
    outline: 2px solid #ff6a00;
    outline-offset: 2px;
    border-radius: 25px;
}


.iph {
    width: 364px;
    position: absolute;
    margin: -64px 0 0 477px;
    height: 349px;
}

.bg {
    width: 364px;
    height: 245px;
    position: absolute;
    margin: 43px 0 120px 476px;
}


.container4 {
    max-width: 1780px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 60px 40px;
    background: #F6F6F6;
    width: calc(50% - 20px / 2);
    border-radius: 30px;
    box-sizing: border-box;
    row-gap: 20px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto;
    min-height: 349px;
}

.title {
    font-size: 32px;
    line-height: normal;
    font-family: Inter, sans-serif;
    color: #2D2D2D;
    font-weight: lighter;
}

p {
    font-size: 24px;
    line-height: normal;
    font-family: Inter, sans-serif;
    color: #808080;
}

.title, p {
    max-width: 58.25%;
}

._id1 {
    background-image: url('https://raw.githubusercontent.com/Seforq/site_all/refs/heads/main/img/iphone.png'), url('https://raw.githubusercontent.com/Seforq/site_all/refs/heads/main/img/Background.png');
}

._id2 {
    background-image: url('https://raw.githubusercontent.com/Seforq/site_all/refs/heads/main/img/man.png'), url('https://raw.githubusercontent.com/Seforq/site_all/refs/heads/main/img/Background.png');
}

._id3 {
    background-image: url('https://raw.githubusercontent.com/Seforq/site_all/refs/heads/main/img/telega.png'), url('https://raw.githubusercontent.com/Seforq/site_all/refs/heads/main/img/Background.png');
}

._id4 {
    background-image: url('https://raw.githubusercontent.com/Seforq/site_all/refs/heads/main/img/pkk.png'), url('https://raw.githubusercontent.com/Seforq/site_all/refs/heads/main/img/Background.png');
}

._idst {
    background-image: url("img/Star 4.png");
}

.staar1 {
    width: 44px;
    height: 44px;
    margin-left: 350px;
    position: absolute;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.staar2 {
    width: 44px;
    height: 44px;
    margin-left: 348px;
    position: absolute;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.staar3 {
    width: 44px;
    height: 44px;
    margin-left: 296px;
    position: absolute;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.staar4 {
    width: 44px;
    height: 44px;
    margin-left: 373px;
    position: absolute;
    background-position: bottom right;
    background-repeat: no-repeat;
}


footer {
    background-color: #2D2D2D;
    max-height: 312px;
    height: 100%;
    width: 1920px;
    margin-top: 300px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

.text_ft {
    color: white;
    font-size: 32px;
    font-family: Inter, sans-serif;
    align-items: center;
    text-align: center;
    padding: 80px 254px 20px 254px;

}

.text_ft_min {
    color: white;
    font-size: 24px;
    font-family: Inter, sans-serif;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;

    display: flex;
    justify-content: center;


}

.link_ft {
    font-family: Inter, sans-serif;
    color: gray;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.link_ft a::after {
    content: "|";
    margin-left: 5px;
    color: #888888;
    opacity: 0.7;
    transition: color 0.3s ease;
}

.link_ft a:last-child::after {
    content: none;
}


.link_ft a:hover {
    color: #ff6a00;
}

.link_ft a:hover::after {
    color: #ff6a00;
}


.link_ft a:active {
    color: #ff4444;
    transition-duration: 0.1s;
}

.link_ft a:active::after {
    color: #ff4444;
}


.link_ft a.disabled {
    color: #666666;
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
}

.link_ft a.disabled::after {
    color: #666666;
}


.link_ft a:focus-visible {
    outline: 2px solid #ff6a00;
    outline-offset: 2px;
    border-radius: 3px;
}

.link_ft a {
    color: gray;
    text-decoration: none;
    font-size: 20px;
    font-family: Inter, sans-serif;

}

@media (max-width: 768px) {

    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    header {
        margin: 0 auto;
        background-color: #3e3939;


    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .logo img {
        width: 190px;
        height: 50px;
        margin: 0;
    }

    .wts {
        width: 25px;
        height: 25px;
    }

    .tg {
        width: 25px;
        height: 25px;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        margin: 0 auto;


    }

    .menu a {
        font-size: 16px;
    }

    .container {
        width: 100%;
        display: flex;

        align-items: center;
        text-align: center;
        justify-content: space-between;
    }

    .phone {
        font-size: 14px;
        margin: 22px 30px 22px 10px;
    }

    .fullstr {
        max-width: 780px;
        margin-left: 25px;
    }

    .container1 {
        gap: 10px;
        z-index: 1000000;
    }

    .main_txt {
        font-size: 36px;
        z-index: 1000000;
    }

    .vtor_txt .pokup {
        font-size: 16px;
        z-index: 1000000;

    }

    .smile {
        width: 40px;
        height: 40px;
        z-index: 1000000;
    }

    .main_btn {
        width: 400px;
        font-size: 16px;
        z-index: 1000000;

    }

    .photo_main {
        position: absolute;
        z-index: 1;
    }

    .bottom_list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

    }


    .bottom_list a {
        margin-top: 7%;
        font-size: 20px;
        height: 60px;
    }

    .title {
        font-size: 28px;

    }


    p {
        font-size: 20px;
        max-width: 50%;
    }

    .container4 {
        display: flex;
        flex-direction: column;

    }

    .card {
        justify-content: center;
        width: 100%;
    }

    .staar1 {
        margin: 60px 0 235px 310px;
    }

    .staar2 {
        margin: 60px 0 200px 310px;
    }

    .staar3 {
        margin: 60px 0 200px 310px;
    }

    .staar4 {
        margin: 60px 0 276px 310px;

    }


    footer {
        width: 100%;
        height: 100%;
        padding: 20px;
    }

    .text_ft {
        font-size: 18px;
        padding: 0;
        margin-bottom: 20px;
    }

    .text_ft_min {
        font-size: 18px;
    }


    .link_ft a::after {
        content: none;
        display: none;
    }

    .link_ft a {
        display: block;
        font-size: 16px;

    }


    .link_ft a:not(:last-child)::after {
        content: none;
    }

    .link_ft {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;
    }

    .link_ft a {
        font-size: 14px;
    }


}