* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    width: 100%;
}
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;

}
@font-face {

    font-family: 'Montserrat-Bold';
    src: url(txt/Montserrat-Bold.ttf);

}
@font-face {
    font-family: 'Kollektif';
    src: url(txt/Kollektif-Bold.ttf);
}
@font-face {
    font-family: 'Kollektif_df';
    src: url(txt/Kollektif.ttf);
}
@font-face {
    font-family: 'Inter_L';
    src: url(txt/Inter-Light.otf);
}
header {
    background-color: #2D2D2D;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    text-align: center;
    height: 82px;
    font-family: Calibri;
}

.fullstr {
    max-width: 1780px;
    margin-left: 70px;

}

.double {
    display: flex;


    margin: 0 auto;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.phone {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Inter, sans-serif;
    font-size: 32px;
    margin: 22px 30px 22px 0;
    color: white;

}

.kont {
    display: flex;
    gap: 12px;
}
.tg {
    margin-right: 12px;
}
.wts, .tg {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.menu {
    margin-right: 228px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;


}
.logo {
    margin: 0 315px 0 0;
    position: relative;
}
.logo img {
    width: 251px;
    height: 70px;
    margin: 6px 0 6px 70px;

}
.menu a {

    text-decoration: none;
    font-size: 24px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Inter_L,sans-serif;
    justify-content: center;
    font-weight: lighter;

}

.menu a:hover {
    color: gray;
}

.container1 {
    display: flex;
    flex-direction: column;
    margin: 114px 0 113px 0;

    gap: 40px;
}

.main_txt {
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: bold;
    font-size: 80px;
    line-height: 1;


}

.lead {
    color: #ff6a00;

}

.bis {
    color: #2D2D2D;

}

.vtor_txt {
    display: flex;


    font-family: Calibri;
}

.smile {
    margin: 0 0 0 20px;
    width: 72px;
    height: 72px;
}
.pokup {
    font-size: 32px;
    font-family: Inter, sans-serif;
    letter-spacing: 1px;
    line-height: 1.25;

}

.main_btn {
    display: inline-block;
    background-color: #ff6a00;
    text-align: center;
    border-radius: 20px;
    font-size: 24px;
    cursor: pointer;
    width: 801px;


}
.sell {
    color: #2D2D2D;
}
.main_btn a {
    display: flex;
    padding: 21px 59px;
    text-decoration: none;
    color: #ffffff;
    justify-content: center;
    font-weight: 600;
    font-family: Kollektif_df, sans-serif;





}

.photo_main {
    display: flex;
    position: relative;


}

.girl {
    margin: 60px 130px 60px 99px;
    display: flex;
    width: 100%;
    height: 100%;


}

.girl img {
    border-radius: 25px;
    height: 497px;
    object-fit: cover;

}



.star1 img {

    width: 20px;
    height: 20px;
}


.bottom_list {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.bottom_list a {

    text-decoration: none;
    background-color: #ffffff;
    color: #808080;
    width: 280px;
    height: 88px;
    padding: 32px 14px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    font-size: 20px;
    display: flex;
    font-family: Inter, sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 0;
}

.text_bottom {
    font-family: Montserrat-Bold,sans-serif;
    font-weight: bold;
    align-self: center;
    line-height: 1;
    text-align: center;
    margin: 129px 0 40px 0;
    font-size: 48px;
}



.iph  {
    width: 364px;
    position: absolute;
    margin: -64px 0 0 477px;
    height: 349px;
}

.bg {
    width: 364px;
    height: 245px;
    position: absolute;
    margin: 43px 0 120px 476px;
}




.container4 {
    max-width: 1780px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 60px 40px;
    background: #F6F6F6;
    width: calc(50% - 20px / 2);
    border-radius: 30px;
    box-sizing: border-box;
    row-gap: 20px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: auto;
    min-height: 349px;
}

.title {
    font-size: 32px;
    line-height: normal;
    font-family: Inter, sans-serif;
    color: #2D2D2D;
    font-weight: lighter;
}

p {
    font-size: 24px;
    line-height: normal;
    font-family: Inter, sans-serif;
    color: #808080;
}

.title, p {
    max-width: 58.25%;
}

._id1 {
    background-image: url('https://raw.githubusercontent.com/Seforq/site_all/refs/heads/main/img/iphone.png'), url('https://raw.githubusercontent.com/Seforq/site_all/refs/heads/main/img/Background.png');
}

._id2 {
    background-image: url('https://raw.githubusercontent.com/Seforq/site_all/refs/heads/main/img/man.png'), url('https://raw.githubusercontent.com/Seforq/site_all/refs/heads/main/img/Background.png');
}

._id3 {
    background-image: url('https://raw.githubusercontent.com/Seforq/site_all/refs/heads/main/img/telega.png'), url('https://raw.githubusercontent.com/Seforq/site_all/refs/heads/main/img/Background.png');
}

._id4 {
    background-image: url('https://raw.githubusercontent.com/Seforq/site_all/refs/heads/main/img/pkk.png'), url('https://raw.githubusercontent.com/Seforq/site_all/refs/heads/main/img/Background.png');
}

._idst {
    background-image: url("img/Star 4.png");
}
.staar1 {
    width: 44px;
    height: 44px;
    margin-left: 350px;
    position: absolute;
    background-position: bottom right;
    background-repeat: no-repeat;
}
.staar2 {
    width: 44px;
    height: 44px;
    margin-left: 348px;
    position: absolute;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.staar3 {
    width: 44px;
    height: 44px;
    margin-left: 296px;
    position: absolute;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.staar4 {
    width: 44px;
    height: 44px;
    margin-left: 373px;
    position: absolute;
    background-position: bottom right;
    background-repeat: no-repeat;
}


footer {
    background-color: #2D2D2D;
    max-height: 312px;
    height: 100%;
    width: 1920px;
    margin-top: 300px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

.text_ft{
    color: white;
    font-size: 32px;
    font-family: Inter, sans-serif;
    align-items: center;
    text-align: center;
    padding: 80px 254px 20px 254px;

}

.text_ft_min {
    color: white;
    font-size: 24px;
    font-family: Inter, sans-serif;
    align-items: center;
    text-align: center;
    padding: 0 622px 40px 622px;


}

.link_ft {
    font-family: Inter, sans-serif;
    color: gray;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.link_ft a{
    color: gray;
    text-decoration: none;
    font-size: 20px;
    font-family: Inter, sans-serif;

}
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    header {
        height: auto;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        padding: 10px 0;
    }

    .fullstr {
        margin-left: 15px;
        margin-right: 15px;
        max-width: 100%;
    }

    .container {
        flex-direction: column;
        padding: 10px;
    }

    .logo {
        margin-bottom: 15px;
    }

    .logo img {
        width: 180px;
        height: 50px;
        margin: 0;
    }

    .menu {
        flex-wrap: wrap;
        gap: 15px;
        margin: 15px 0;
    }

    .menu a {
        font-size: 16px;
        padding: 5px 10px;
    }

    .phone {
        font-size: 18px;
        margin: 10px 0;
    }

    .wts, .tg {
        width: 30px;
        height: 30px;
    }

    .double {
        flex-direction: column;
        margin-top: 20px;
    }

    .container1 {
        margin: 30px 0;
        gap: 20px;
        align-items: center;
        text-align: center;
    }

    .main_txt {
        font-size: 32px;
        line-height: 1.2;
    }

    .vtor_txt {
        flex-direction: column;
        align-items: center;
    }

    .smile {
        margin: 15px 0;
        width: 50px;
        height: 50px;
    }

    .pokup {
        font-size: 18px;
        text-align: center;
    }

    .main_btn {
        width: 100%;
        max-width: 300px;
        font-size: 16px;
    }

    .main_btn a {
        padding: 15px 20px;
    }

    .photo_main {
        width: 100%;
        margin: 0;
    }

    .girl {
        margin: 20px 0;
        width: 100%;
    }

    .girl img {
        width: 100%;
        height: auto;
        max-height: 300px;
        border-radius: 15px;
    }

    .bottom_list {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 20px;
    }

    .bottom_list a {
        width: 90%;
        height: auto;
        padding: 15px;
        font-size: 16px;
        border-radius: 15px;
    }

    .text_bottom {
        margin: 50px 0 30px 0;
        font-size: 28px;
        padding: 0 15px;
    }

    .cont {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box, .box1, .box2, .box3 {
        width: 100%;
        max-width: 350px;
        height: auto;
        min-height: 300px;
        margin: 15px 0;
        position: relative;
        padding-bottom: 20px;
    }

    .str1, .str2 {

            font-size: 36px;
            font-family: Calibri;
            gap: 20px;
            padding: 20px 30px 0 20px;
            align-items: center;

            display: flex;


    }

    .staar1 {
        width: 30px;
        height: 30px;
        margin: 10px 0 0 0;
    }

    .mini1 {
        font-size: 16px;
        padding: 10px 20px 20px 20px;
        margin-bottom: 20px;
    }

    .iph {
        width: 150px;
        height: auto;
        position: absolute;
        right: 20px;
        bottom: 20px;
        margin: 0;
    }

    .bg {
        width: 150px;
        height: auto;
        position: absolute;
        right: 20px;
        bottom: 60px;
        margin: 0;
    }

    footer {
        height: auto;
        padding: 30px 15px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        margin-top: 30px;
    }

    .text_ft {
        font-size: 16px;
        padding: 0 0 15px 0;
    }

    .text_ft_min {
        font-size: 14px;
        padding: 0 0 20px 0;
    }

    .link_ft {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .link_ft a {
        font-size: 14px;
        text-align: center;
    }
}
@media screen and (max-width: 480px) {
    .main_txt {
        font-size: 28px;
    }

    .pokup {
        font-size: 16px;
    }

    .menu {
        gap: 10px;
    }

    .menu a {
        font-size: 14px;
    }

    .phone {
        font-size: 16px;
    }

    .text_bottom {
        font-size: 24px;
    }

    .str1, .str2 {
        font-size: 20px;
    }

    .mini1 {
        font-size: 14px;
    }

    .bottom_list a {
        font-size: 14px;
    }

    .text_ft {
        font-size: 14px;
    }

    .text_ft_min {
        font-size: 12px;
    }

    .link_ft a {
        font-size: 12px;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .fullstr {
        margin-left: 30px;
        margin-right: 30px;
    }

    .menu {
        gap: 30px;
    }

    .menu a {
        font-size: 20px;
    }

    .main_txt {
        font-size: 48px;
    }

    .pokup {
        font-size: 24px;
    }

    .main_btn {
        width: 600px;
    }

    .girl img {
        height: 400px;
    }

    .bottom_list {
        flex-wrap: wrap;
    }

    .bottom_list a {
        width: 200px;
        font-size: 16px;
    }

    .cont {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .box, .box1, .box2, .box3 {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;
    }

    .text_ft {
        padding: 80px 50px 20px 50px;
    }

    .text_ft_min {
        padding: 0 100px 40px 100px;
    }
}